
.DS_Store
.favorites.json
.configs/
.sync/
public/
.db/
.markeditor/
.posts_info.json
git_settings.json
.Archive/

.markdown/
.idea/
.DS_STORE
Thumbs.db*
/.posts_info.json
/posts_info.json
/.git_settings.json
/git_settings.json
/.ios_file_manager_status*.json
/.farbox_token.*
/.farbox_auto_sync.*
/__wechat.json
/*.sqlite3

venv/

!.metion/
.metion/*
!.metion/*_sort.config
.hugo_build.lock
